@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primary-color: #6415ff;
    --secondary-color: #3c0399;
    --text-color: #243E63;
    --text-color-light: #A0AEC0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.row {
    margin: 1rem 2rem;
}

.nav, .main {
    margin: 1rem 2rem;
}

span {
    color: var(--primary-color);
}

.title {
    color: var(--primary-color);
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: .2em;
    margin-bottom: 1rem;
}

.hero__text {
    font-size: 1.875rem;
}

h2 {
    font-size: 2.25rem;
    font-weight: 900;
    text-align: center;
    line-height: 3.5rem;
    color: var(--text-color);
}

h3 {
    font-size: 1.5rem;
    margin: 1rem 0 0;
    color: var(--text-color);
}

.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__container {
    display: flex;
    align-items: center;
    margin: .5rem 0;
}

.logo {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: .75rem;
}

.logo__text {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--text-color);
}

.nav__item {
    list-style-type: none;
    display: none;
}

.nav__link {
    text-decoration: none;
}

.two__col--container {
    padding: 5rem 0;
}

.hero__text {
    font-size: 1.875rem;
    text-align: center;
    font-weight: 700;
    line-height: 2.34375rem;
    color: #1A202C;
}

.hero__para {
    text-align: center;
    margin: 20px 0;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--text-color) 
}

.input {
    padding: 1rem 0 1rem 2rem;
    border-radius: 3rem;
    width: 100%;
    border: 2px solid #e2e8f0;
    font-weight: 500;
    color: #e2e8f0;
    opacity: 0.6;
    font-size: 1rem;
}

.input__btn {
    display: block;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--primary-color);
    margin: 1rem 0.5rem 1rem 0;
    border-radius: 3rem;
    border: none;
    padding: 1rem 
}

.small {
    text-transform: uppercase;
    text-align: center;
    color: var(--text-color-light);
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-top: 3rem;
}

.customers__logo-strip {
    width: 100%;
    opacity: 0.5;
    margin: 1rem 0 0;
}

.hero__img {
    width: 100%;
    margin: 3rem 0;
}

.features {
    padding-top: 5rem;
}
.features__para, .quality__para {
    margin: 1rem 0 0;
    text-align: center;
    color: #7C8BA1;
    font-size: .875rem;
    line-height: 1.421875rem;
    font-weight: 500;
}

.features__container {
    display: flex;
    flex-direction: column;
    padding: 2rem .5rem 5rem .5rem;
    align-items: center;
}

.feature__container {
    text-align: center;
    margin: 0 1rem;
    padding: 2rem .5rem;
}

.icon {
    border: 1px solid rgba(124, 139, 161, .3);
    padding: 1.5rem;
    border-radius: 50%;
}

.feature__text--description {
    font-size: 1rem;
    color: rgb(124, 139, 161);
    font-weight: 500;
    line-height: 2rem;
    margin: .25rem 0 0;
}

.two__col--container-reverse {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.quality__img, .values__img {
    width: 100%;
    align-self: center;
    margin-bottom: 3rem;
}

.section__title {
    font-size: 1.875rem;
    line-height: 1.2;
}

.quality__btn {
    display: block;
    margin: 2rem auto;
    background-color: var(--primary-color);
    color: #fff;
    padding: .75rem 2rem;
    border-radius: 3rem;
    width: 50%;
    font-size: .875rem;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
}

.steps__img, .testimonial__img {
    width: 100%;
    margin-bottom: 4rem;
}

.step__container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.step__number {
    font-size: 2.5rem;
    font-weight: 500;
    color: #CBD5E0;
}

.step__title {
    text-align: center;
    font-weight: 500;
    font-size: 1.25rem;
    margin-top: .75rem;
    color: #243E63;
}

.step__para {
    margin-top: .75rem;
    text-align: center;
    font-size: .875rem;
}

.blurb {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: .5rem;
    margin-top: 2.25rem;
}

.blurb h3 {
    font-size: 1.25rem;
}

.feather-dollar-sign {
    background-color: rgb(154 230 180);
    color: rgb(39 103 73);
    border-radius: 50%;
    padding: .5rem;
}

.feather-briefcase {
    background-color: rgb(254 178 178);
    color: rgb(155 44 44);
    border-radius: 50%;
    padding: .5rem;
}

.blurb__para {
    font-size: 1rem;
    margin-top: 1rem;
    color: #718096;
    text-align: center;
}

.values__btn {
    margin-top: 3rem;
}

.pricing {
    margin-top: 5rem;
}

.pricing__card {
    margin-top: 4rem;
    text-align: center;
    border-radius: .5rem;
}

.pricing__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
    padding-top: 2rem;
}

.pricing__amount {
    font-weight: 700;
    font-size: 2.25rem;
    margin: .25rem;
}

.pricing__frequency {
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 2rem;
    color: #A0AEC0;
}


/* FOOTER */

.footer {
    background: var(--primary-color);
    color: #f7fafc;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
}

.footer__container {
    display: flex;
}

/*
ul {
    display: flex;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
    transition: 0.5s ease;
    line-height: 1.5;
    font-size: 0.875rem;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    letter-spacing: .025em;
}

a:hover {
    cursor: pointer;
    text-decoration-thickness: 2px;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h2 {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.025em;
    text-align: center;
    color: var(--text-color);
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--text-color);
    letter-spacing: 0.025em;
}

h4 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 1rem;
}

span {
    color: var(--primary-color);
}

input {
    width: 80%;
    padding: 1.25rem 1rem;
    border: 2px solid #eaeaea;
    border-radius: 3rem;
    border: 2px solid #E2E8F0;
    transition: all 0.3s ease;
}
input::placeholder {
    color: var(--text-color-light);
    font-size: 1rem;
    font-weight: 300;
    padding-left: 1rem;
}
input:hover {
    border: 2px solid #cbd5e0;
}

input:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

.small {
    font-size: 0.75rem;
    color: var(--text-color-light);
    text-transform: uppercase;
    margin-top: 5rem;
    lwetter-spacing: 0.5em;
    font-weight: 700;
}

.row {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.btn {
    padding: 0.75rem 2rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.5s ease;
}

.btn:hover {
    background-color: var(--secondary-color);
    text-decoration: none;
    color: #fff;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 0 0;
}

.logo__container {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
}

.logo:hover {
    cursor: pointer;
}

.logo__text {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.025em;
    margin-left: 8px;
    color: var(--text-color);
}

.logo__text:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.nav__items {
    display: flex;
    align-items: center;
}

.nav__item  {
    margin: 0 1.5rem;
}

.extra__space {
    margin-left: 3rem;
}

.two__col--container {
    margin: 5rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left__col {
    display: flex;
    flex-direction: column;
    width: 40%;
}   

.right__col {
    width: 60%;
    display: flex;
}   

.hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__para {
    font-size: 1.125rem;
    margin: 2rem 0;
}

.input__container {
    position: relative;
}

.input__btn {
    position: absolute;
    content: '';
    right: 104px;
    margin: .5rem;
    font-size: 1rem;
    font-weight: 700;
}

.customers__logo-strip {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
    opacity: 0.5;
    padding-right: 128px;
}

.features {
    padding-top: 6rem;
}

.title {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1rem;
}

.features__para {
    font-size: 1.125rem;
    margin: 0 auto;
    width: 100%;
    max-width: 36rem;   
    margin-top: 1rem;
    color: var(--text-color);
    line-height: 1.625;
}

.features__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 6rem 6rem;;
}

.feature__container {
    display: flex;
    margin: 0 auto;
    padding: 2rem 0.5rem;
    width: calc(100% / 3);
    align-items: flex-start;
}

.icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img__container {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E2E8F0;
    margin-right: 1rem;
}

.feature__text--descprition {
    width: 100%;
    max-width: 14rem;
    line-height: 2;
    color: #7C8BA1;
    font-weight: 500;
}

.left__col--even {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.right__col--even {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
}

.title__left {
    text-align: left;
}

.left {
    text-align: left;
    width: 100%;
    max-width: 36rem;
}

.quality__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quality__para {
    font-size: 1.125rem;
    width: 100%;
    max-width: 38rem;   
    margin-top: 1rem;
    color: var(--text-color);
    line-height: 1.625;
}

.quality__btn {
    width: 100%;
    max-width: 9rem;
    margin-top: 2rem;
    font-size: .875rem;
    font-weight: 700;
    padding: .75rem 2rem;
}

.container__padding {
    padding: 3rem 0;
}

.step__container {
    display: flex;
}

.step__directions {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

footer {
    background-color: var(--primary-color);
    color: #fff;
}

footer a {
    color: #fff;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer__menu {
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    margin: 0 auto;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

*/